@import url('https://fonts.googleapis.com/css2?family=Gabarito&display=swap');

body{
    font-family: 'Gabarito', cursive;
    color: gray;
}

.choices{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.title{
    text-align: center;
}
.choice-image.pressed{
    transform: translateY(4px);
}
img{
    width: 150px;
    background-color: #D7CABB;
    border-radius: 15px;
    cursor: pointer;
}
.choice{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.robot-choice{
    display: flex;
    flex-direction: column;
    height: 200px;
    margin-top: 40px;
    background-color: #E5E8E8;
    justify-content: center;
    align-items: center;
}

.result{
    text-align: center;
    margin: 40px;
}